 
.mainField {
	border: 5px solid #4B0082;
	border-radius: 10px;
	position: relative;
}
.squares {
	border: 3px solid #FFFF00;
	box-sizing: border-box;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	position: absolute;
	transition: all 0.3s;
	cursor: pointer;
}
.navMenu {
	display: flex;
	flex-direction: space-around;
}
.buttonStart, .time, .movesCount {
	border: 5px solid #4B0082;
	width: 15%;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}